
html, body{
	height: 100%; 
	width: 100%; 
	font-family: Arial, Helvetica, sans-serif;
}

body{ 
	margin: 0; 
	padding: 0; 
}
div, img { 
	box-shadow: none; 
}
body.lyteboxed{ 
	min-width: 1080px; 
}

.gray{
	color: #808080;
}

.container{
	border: 2px solid black;
	margin-bottom: 100px;
}

.header{
	height: 200px;
	padding-top: 90px;
	text-align: center;
}

.header h1{
	font-size: 45px;
	margin: 0px;
	padding-bottom: 0px;
}

.sub-header{
	margin: 0 auto 30px auto;
}

.sub-header h3, hr{
	width: 30%;
	padding-bottom: 0px;
	margin: 0 auto;
	text-align: center;
	/*border: 1px solid black;*/

}

.header h2{
	font-size: 35px;
	margin: 0px;
}

#nav{
	width: 70%;
	height: 30px;
	margin: 50px auto 0 auto;
	list-style-type: none;

}

#nav ul{
	list-style-type: none;
}

#nav li{
	width: 16%;
	/*margin: 0 auto;*/
	text-align: center;
	float: left;
	border: 1px solid black;
}

.frame-specs{
	width: 100%;
	height: 800px;
	seamless: ;
}



